/*
description: understanding the data-set with its column and row data 
*/

show md_water_services ; -- show the database imported 
use md_water_services; -- active the use schema 
show tables; -- show the database table contains

select water_services
from md_water_services; -- return the water source table 

select well_pollution
from md_water_services; -- return the well pollution table